    <div id="content_wrap">
      <img style="margin-top: -15px;" src="<%=image_path('banner2.jpg')%>" title="">
          
    </div>
    <div id="over_wrap">
        <div id="box_wrap">

            <div> <a name="about"></a>
                <h2>Home</h2>
                    <p>
                        <img src="<%=image_path('icon.png')%>" width="128" height="128" style="float:left; margin-right:20px;"> Enjoy an authentic and unique ninja gaming experience on Android. This game is a tribute to all the ninjas out there. This super fun and scintillatingly splashy ninja game utilizes an arcade like controller which lets you attack objects of two different colors with two different buttons. 
                    </p>

                    <p>
                        And yes where would a Ninja game be without special moves? This has two: Onek Shuriken and Shinji Tatsumaki. 
                    </p>
                    
                    <p>
                        As you slowly start to delve yourself into this game and into the life of Shinji ( the ninja ), you realize the game gets more complex and yet more fun. 
                    </p>
                    
                    <p>
                        <img src="<%=image_path('screenshot1.jpg')%>" style="width:410px;" />
                        <img src="<%=image_path('screenshot2.jpg')%>" style="width:410px;" />
                    </p>
                    
                    <p>    
                        <img src="<%=image_path('screenshot3.jpg')%>" style="width:410px;" />
                        <img src="<%=image_path('screenshot4.jpg')%>" style="width:410px;" />
                    </p>
                    
                    <div style="text-align: center;" >
                        <iframe width="420" height="315" src="http://www.youtube.com/embed/9tD7sUcwiPA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                    <p>
                        <img src="<%=image_path('android-logo.png')%>" width="128" height="128" style="float:left; margin-right:20px;"> 
                        <a href="https://play.google.com/store/apps/details?id=com.rexonestudios.ninjaken">Click here for Google Play download link.</a><br>
                        <a href="https://play.google.com/store/apps/details?id=com.rexonestudios.ninjakendemo">Click here for Google Play download link (FREE version).</a><br>
                        <a href="http://www.amazon.com/Rexeone-Studios-Ninjaken/dp/B0089656B0/ref=sr_1_3?ie=UTF8&qid=1339223642&sr=8-3">Click here for Amazon download link.</a><br>
                        <a href="http://www.amazon.com/Rexeone-Studios-Ninjaken-Demo/dp/B0089DW38C/ref=sr_1_6?ie=UTF8&qid=1339223642&sr=8-6">Click here for Amazon download link (FREE version).</a><br>
                        
                    </p>   

                <hr/>
                </div>

             
        </div>
   
    </div>
</div>